# -------------------------
# PostgreSQL
# -------------------------

POSTGRES_DB=linkedin_search
POSTGRES_USER=linkedin
POSTGRES_PASSWORD=linkedin

POSTGRES_PORT=5432
POSTGRES_HOST_PORT=55432


# -------------------------
# Backend
# -------------------------

BACKEND_PORT=8000
BACKEND_HOST_PORT=8080


# -------------------------
# Frontend
# -------------------------

FRONTEND_PORT=3000
FRONTEND_HOST_PORT=3000


# -------------------------
# Elasticsearch
# -------------------------

ELASTICSEARCH_PORT=9200
ELASTICSEARCH_HOST_PORT=9200

ELASTICSEARCH_INDEX=linkedin_profiles

ES_JAVA_OPTS=-Xms512m -Xmx512m


# -------------------------
# Application
# -------------------------

DATASET_PATH=/app/data/300 user linkedin.txt

CORS_ORIGINS=http://localhost:3000
